@import "tailwindcss";

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0d0d14;
  }
  ::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #10b981;
  }
}
